// {{.Description}}
type {{.Name}} string

const (
    {{range .Values -}}
        {{if .Description}}// {{.Description}}{{else}}// {{.Name}} represents the {{$.Name}} `"{{.Value}}"`.{{end}}
        {{.Name}} {{$.Name}} = "{{.Value}}"
    {{end -}}
)
