// {{.Description}}
func Example{{.Tag}}Service_{{.Name}}() {
    client, err := {{.PackageName}}.NewClientFromEnv("your apps user agent")
    if err != nil {
        panic(err)
    }

    {{if .Response}}
        result, err := client.{{.Tag}}.{{.Name}}({{range .Args -}}{{.Example}},{{end -}}{{if .RequestBody}}{{.RequestBody.Example}}{{end -}})
        if err != nil {
            panic(err)
        }

        fmt.Printf("%#v", result)
    {{else}}
    if err := client.{{.Tag}}.{{.Name}}({{range .Args -}}{{.Example}},{{end -}}{{if .RequestBody}}{{.RequestBody.Example}}{{end -}}); err != nil {
        panic(err)
    }
    {{end}}
}
