// {{.Description}}
type {{.Name}} struct {
    {{range .Values -}}
        // {{.Name}}: {{.Description}}
        {{.Name}} {{if not .Required}}{{end}}{{.Type}} `json:"{{.Property}}" yaml:"{{.Property}}" schema:"{{.Property}}{{if .Required}},required{{end}}"`
    {{end -}}
}
