name: generate
permissions:
  contents: write
on:
  pull_request:
    paths:
      - 'Makefile'
      - .github/workflows/generate.yml
      - spec.json
      - 'generate/**.go'
      - VERSION.txt
  workflow_dispatch:
jobs:
  format:
    # Check if the PR is not from a fork
    if: ${{ github.event.pull_request.head.repo.full_name == github.repository }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.ref }}
      - uses: actions/setup-go@v6
        with:
          go-version: '1.22.x'
      - name: Run generate
        shell: bash
        run: |
          make all
        env:
          KITTYCAD_API_TOKEN: ${{secrets.KITTYCAD_API_TOKEN}}

      - name: Commit generated files
        uses: KittyCAD/gha-actions-public/pr-commit@main
        with:
          app-id: ${{ secrets.GH_ORG_APP_ID }}
          private-key: ${{ secrets.GH_ORG_APP_PRIVATE_KEY }}
          commit-message: "I have generated the latest API!"
